
h1{
    font-size:50px;
    color:rgb(60, 84, 84);
    text-align:center;
}
body{
    background-image:linear-gradient(to right bottom, lightblue, red);
}
p{
 
    font-size:20px;
    text-align: center;
    color:rgb(60, 84, 84);
}
img{

    width:200x;
    height:200px;
    
}
h2{
    margin:0 auto;
    width:70%;
    color:rgb(23, 50, 50);
    font-size:25px;
}
h3 p{
    color:blue;
}
h1 h2{ 
    
    text-align: center;
    font-size:25px;
}
h1 p{
    background-color:white;
    text-align:left;
}
a{
    
}
p{
    color:black;
}
h1{
    color:black;
}
div{
text-align: center;
}
header{
text-align:center;
font-size:25px;
}
.text{
    font-size:30px;}
a {
    display: block;
}
