body{
    background-image:linear-gradient(to right bottom, lightblue, green);
}
h2{
    width:70%
}
img{
    text-align:center;
    height:250px;
    width:200px;
}
inframe{
    text-align:center;
}
p{
    text-align:center;
}
